.footer {
  background: var(--background);
  color: var(--text_primary);
  padding: 2rem;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 2rem;
  border-top: 1px solid var(--text_secondary);
  margin-top: 2rem;
  padding-top: 2rem;

}   